{% extends "account/layout/base.html" %}

{% load bootstrap %}
{% load cloudinary %}
{% cloudinary_includes %}

{% block title %}{{ profile.user.username }}{% endblock title %}

{% block sidebar %}
    {% include "userprofile/partials/user-profile.html" %}
{% endblock sidebar %}


{% block content %}
    <div class="container-fluid content-block">
        <div class="row profile">
            <div class="col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-offset-1 col-md-10">
                <h1 class="page-title">Update your Profile</h1>
                <div class="page-content">
                    <form role="form" action="/user/{{ user.username }}/edit" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profileform|bootstrap }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
