<h3 class="section-header">Communities</h3>
<div class="list-group" id="community">
    <a href="/community/all" class="list-group-item"><i class="mdi mdi-view-list"></i> All Feeds</a>
    <a href="/community/python" class="list-group-item"><i class="mdi mdi-language-python"></i> Python</a>
    <a href="/community/ruby" class="list-group-item"><i class="mdi mdi-android"></i> Android</a>
    <a href="/community/js" class="list-group-item"><i class="mdi mdi-language-javascript"></i> JS</a>
</div>
