<h3 class="section-header">Communities</h3>
<div class="list-group" id="community">
    <a href="{% url 'community' community='all'%}" class="list-group-item"><i class="mdi mdi-view-list"></i> All Feeds</a>
    <a href="{% url 'community' community='python'%}" class="list-group-item"><i class="mdi mdi-language-python"></i> Python</a>
    <a href="{% url 'community' community='android'%}" class="list-group-item"><i class="mdi mdi-android"></i> Android</a>
    <a href="{% url 'community' community='javascript'%}" class="list-group-item"><i class="mdi mdi-language-javascript"></i> JS</a>
</div>
