{% load cloudinary %}
{% load endless %}
{% load staticfiles %}

<div class="content-block">
    {% if messages %}
    <div class="row">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
                {{ message }}
            </div>
        {% endfor %}
    </div>    
    {% endif %} 
    <div class="row">
        <div class="col-sm-12">
            <form id="id_share_form" role="form" class="share" action="{% url 'newresource' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea id="id-plain-text" name="text" class="form-control" rows="5" placeholder="Ask your Questions, Share your Knowledge... Don't forget to Tag it!!"></textarea>
                <div class="row form-buttons">
                    <div class="col-sm-8">
                        <button type="button" id="id-pdf-button" class="btn btn-default"><span class="mdi mdi-file"></span> Attach PDF/DOC</button>
                        <button type="button" id="id-snippet-button" class="btn btn-default"><span class="mdi mdi-code-tags"></span> Attach Code Snippet</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="mdi mdi-tag"></span> Tag Post</button>                        
                            <ul class="dropdown-menu list-inline tag-dropdown">
                                <li><label class="radio-inline"><input type="radio" name="language_tags" value="PYTHON">Python</label></li>
                                <li><label class="radio-inline"><input type="radio" name="language_tags" value="JS">JS</label></li>
                                <li><label class="radio-inline"><input type="radio" name="language_tags" value="ANDROID">Android</label></li>   
                            </ul>
                        </div>                      
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary pull-right">Share</a></button>
                    </div>
                </div>
                <input id="id-pdf-file" name="resource_file" class="form-control hide well well-sm" type="file"/>
                <div class="well" id="id-snippet-body" ><pre id="editor" name="snippet_text"></pre></div>
                <textarea hidden id="snippet" name="snippet_text" ></textarea> 
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <h3 class="activity-feed section-header"><i class="mdi mdi-rss"></i> {{ title }}</h3>
            <div id="preloader">
                <img src="{% static 'img/ajax-loader.gif' %}">
            </div>

            <h3 class="activity-feed section-header"><i class="mdi mdi-rss"></i> {{ title }}  
<ul class="filter pull-right dropdown">
  <li><a class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Filter By
    <span class="caret"></span>
  </a>
  <ul class="filter-menu dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{url}}?sortby=date" class="filterby" role="tab" data-toggle="tab">Newest</a></li>
    <li><a href="{{url}}?sortby=votes" class="filterby" role="tab" data-toggle="tab">Votes</a></li>
    <li><a href="{{url}}?sortby=comments" class="filterby" role="tab" data-toggle="tab">Comments</a></li>
  </ul>
  </li>

</ul>
  </h3>
            <div id="community-content">
                {% include "account/partials/community.html" %}
            </div>
        </div>
    </div>
</div>