{% load cloudinary %} 
{% load endless %} 
{% load staticfiles %}





{% if resource %}


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    {% if resource.author.profile.image %}
        {% cloudinary resource.author.profile.image width=70 height=70 crop="fill" class="img-circle avatar"%}
        {% else %}
        {% cloudinary "vqr7n59zfxyeybttleug.gif" width=64 height=64 crop="fill" %}
        {% endif %}

{#                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">#}
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>{{ resource.author }}</b></a>
                        made a post.
                    </div>
                    <h6 class="text-muted time">{{ resource.date_added | timesince }} ago</h6>
                </div>
            </div>
            <div class="post-description">
                <p>{{ resource.text }}</p>
                <div class="stats">
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>12
                    </a>
                </div>
            </div>
            <div class="post-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="Add a comment" type="text">
                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </span>
                </div>
                <ul class="comments-list">
                    {% for comment in resource.comments.all %}
                    <li class="comment">
                        <a class="pull-left" href="#">

                            {% if comment.author.profile.image %}
                            {% cloudinary comment.author.profile.image width=70 height=70 crop="fill" class="avatar"%}
                            {% else %}
                            {% cloudinary "vqr7n59zfxyeybttleug.gif" width=64 height=64 crop="fill" class="avatar"%}
                            {% endif %}

{#                            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">#}
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">{{comment.author}}</h4>
                                <h5 class="time">5 minutes ago</h5>
                            </div>
                            <p>{{ comment }}</p>
                        </div>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

    {% else %}
    There is no resource for the id
{% endif %}

