<h3 class="section-header">Popular Resources</h3>
<div class="list-group" id="community">
    {% for resource in popular %}
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">{{ resource.text }}</h4>
            <p class="list-group-item-text">{{resource.date_added}}<br><br>
            <small>{{ resource.author }}</small>
            </p>
        </a>
    </div>
    {% empty %}
    <p class="list-group-item-text">No Popular Post </p>
    {% endfor %}
</div>
