{% load cloudinary %} 
{% load endless %} 
{% load bootstrap %} 
{% for user in users %}
<div class="row" id="followers-detail">
    <div class="col-sm-4 text-center">

        {% if user.profile.image %}
            {% cloudinary user.profile.image width=150 height=150 class="img-responsive" crop="fill" %}
        {% else %}
            {% cloudinary "vqr7n59zfxyeybttleug.gif" width=100 height=150 crop="fill" %}
        {% endif %} 
        
            <span>
                <a href="/user/{{ user }}" id="follower-name">{{ user }}</a>
            </span>
            <br/>
            <div class="clearfix"></div>
    </div>    
  
    <div class="col-sm-4 feed-content">

        <p class="poster-details">
            <a href="/user/{{ user }}">{{ user.first_name }} {{user.last_name}}</a> -
            <small>
                <em>joined since {{ user.date_joined | timesince }} ago</em>
            </small>
        </p>
       
    </div>

    <div class="col-sm-4 text-center">
        <a href="/user/{{user.username }}/follow" class="btn btn-primary follow-btn {% if request.user in user.profile.get_following %} disabled {% endif %}"> Follow
        </a>
    </div>
</div>

{% empty %}
<div class="alert alert-info spacer">There are currently no users matching your search</div>
{% endfor %}
<script type="text/javascript">
prettyPrint();
</script>
