<h3 class="section-header">Search Menu</h3>
<div class="list-group" id="search">
    <a href="{% url 'search_by' searchby='resources'%}{% if q != '' %}?q={{q}} {% endif %}" class="list-group-item {% if search_type == 'resources' %} active {% endif %}"><i class="mdi mdi-view-list"></i> Resources  <span class="badge">{{resources.all|length}}</span></a>
    <a href="{% url 'search_by' searchby='users' %}{% if q != '' %}?q={{q}} {% endif %}" class="list-group-item {% if search_type == 'users' %} active {% endif %}"><i class="mdi mdi-language-python"></i> Users  <span class="badge">{{users.all|length}}</span></a>
</div>
