/* body styling */
body {
  height: 100%;  
}

/* header styling */
#header {
	background-color: #45818E;
	height: 100px;
}

#header h1 {
	padding-left: 1.5em;
}

#header a{
  color: #000000
}
.navbar-collapse{
  background-color: #45818E;
}

.menu_item{
  padding-top: 17px; 
}

#search {
  margin-top: 25px; 
}

/*#search input{
  width: 500px !important;
}*/

/* sidebar */
#sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 200px;
  z-index: -1;
  background-color: #CCCCCC;
}

#content {
  position: absolute;
  background-color: #000000;
  padding-right: 50px;
  padding-left: 10px;
  padding-bottom: 100px;
  left: 200px;
  top: 100px;
  right: 1px;
  z-index: -1;
}

/* footer */
#footer {
	position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: #45818E;
  clear: both;	
}
#footer small{
	color: #000000;
}
