/* body styling */
body {
	background-color: #45818E;
	height: 100%;
	padding-bottom:100px;
}

.jumbotron {
	padding-left: 5%;
	padding-right: 5%;
}

/* header styling */
#header {
	background-color: #ffffff;
	height: 100px;
	margin-bottom:50px;
}

#header h1 {
	padding-left: 6%;
}

#header a {
	padding-top:30px;
	text-align: center;
}

/* tab styling */
.tab-content {
	padding:15px;
	background: #ffffff;
}

#tab_link {
	color: #000000;
}

/* footer */
#footer {
	position: fixed;
	bottom:0px;
	height:40px;
	width:100%;
	background-color: #ffffff;
	clear: both;	
}
#footer small{
	color: #000000;
}
