/* body styling */
body {
	height: 100%;
	margin: 0;
	padding: 0;  
}

/* navbar */
.navbar {
	z-index: 500;
	margin-bottom: 0px;
	background-color: #45818E;
	border-color: #45818E;
	border-radius: 0px;
	color: #ffffff;
}

.navbar a{
	color: #ffffff;
}

.navbar a:hover {
	text-decoration: none;
}

.navbar-collapse {
	background-color: #45818E;
	vertical-align: middle;
	margin-top: 5px;
}

.navbar-toggle .icon-bar {
	background-color: #888;
}

.navbar-toggle {
	border-color: #ddd;
	margin-top: 15px;
}

.navbar-header h1 {
	margin-top: 10px;
}

#nav-menu {
	margin-top: 22px;
	margin-right: 20px;
}

.main, .main > .row {
	padding: 0px;
	margin: 0px;
}

.content-col {
	margin: 0px;
	overflow: hidden;
}

/* sidebar */
#sidebar {
	background-color: #CCCCCC;
	height: 100%;
}

#page-content {
	padding: 20px 5% 80px 5%;
}

/* footer */
#footer {
	position: fixed;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color: #45818E;
	clear: both;  
}
#footer small{
	color: #ffffff;
}

/* for width equal to and greater than 768px */
@media (min-width: 768px) {
	#search {
		width: 100%;
	}
	#search .input-group, #search .form-group {
		width: 100%;
	}
	.navbar-collapse {
		float: left;
		width: 75%;
	}
	.navbar-collapse > .row >[class|="col"] {
		float: right;
	}
}

/* for width equal to and greater than 992px */
@media (min-width: 992px) {
	.main > .row {
		background-image:
			linear-gradient(
				to right,
				#CCCCCC 0%,
				#CCCCCC 17%,
				#ffffff 17%,
				#ffffff 100%
			);
	}
}