{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base_home.css" type="text/css" rel="stylesheet"/>
    <title>{% block title %}Codango{% endblock title %}</title>
  </head>

  <body>
    <!--header-->
   <nav class="navbar navbar-default" role="navigation">
     <div id="header" class ="container-fluid">
        <div class="container">
            <div class="navbar-header">
              <div class="pull-right visible-xs" id="nav_item">
                <a href="#"><span class="glyphicon glyphicon-bell"></span></a>
              </div>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1>Codango</h1>
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right menu_item">
                <li><a href = "#">Pair Programming</a></li>
                <li class="hidden-xs"><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Issa <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">View Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">LogOut</a></li>
                  </ul>
                </li> 
              </ul>
              <form class="navbar-form" action="#" id="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search">
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
    </nav>

    <!--content-->
    <div class="container-fluid">
      <!-- Sidebar -->
      <div id="sidebar">

      </div> 
      
      <!--page content-->
      <div id="content">
      {% block content %}{% endblock content %}
      </div>
    </div>

    <!--footer-->
    <div id="footer" class="container-fluid">
      <h4 class="pull-right"><small>&copy 2015 CODANGO</small></h4>
    </div>

    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>