{% extends "account/layout/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/codango-logo.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1 class="page-title">Contact us <small><em>We love to hear from you</em></small></h1>
        </div>
    </div>
    <div id="contact"></div>
</div>
{% endblock body %}
