{% extends "account/layout/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/codango-logo.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-default contact-us">
                <h1 class="panel-body h1">
                Contact us <small>We love to hear from you</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <!-- contact us form -->
                    <form role="form" action="/contact-us" method="post" id="contactus-form">
                        {% csrf_token %}
                        {{ contactusform|bootstrap }}
                        <div class="form-group">
                            <button id="send-mssg-btn" type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <legend><span class="mdi mdi-earth"></span> Our office</legend>
                <address>
                <strong>Codango, Inc.</strong><br>
                55 Moleye Street<br>
                Sabo, Yaba<br>
                Nigeria<br>
                0800-codango
                </address>
            </div>
        </div>
    </div>
</div>
    {% endblock body %}