{% extends "account/base.html" %}

{% block content %}

<!-- {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% else %}
	<p>Reset your Codango password</p>
{% endif %}
	
<form action="" method="POST">
	{% csrf_token %}
	<label for="password"></label>
	<input type="password" name="password" id="password"/><br>
	<input type="password" name="password" id="password"/><br>
	<input type="submit" value="Reset Password"/>
</form>
 -->

 <form method="POST" action="" class"">
 	{% csrf_token %}
 	{% if messages %}
 		<ul class="messages">
 			{% for message in messages %}
 				<li {% if message.tags %} class="{{message.tags}}" {% endif %} > {{message}} </li>
 			{% endfor %}
 		</ul>
 		<p>Reset your Codango password.</p>
 	{% endif %}
 	Create a new password below:
 	<div>
 		<label for="{{password_reset_form.password0.id_for_label}}">
 			{{ password_reset_form.password.label }}:
 			{% if password_reset_form.password.field.required %}
 				<span class="alt-color">*</span>
 			{% endif %}
 		</label>
 			{{ password_reset_form.password }}
 			{{ password_reset_form.password.errors }}
 	</div>
 	<div>
 		<label for="{{password_reset_form.password1.id_for_label}}">
 			{{ password_reset_form.password_conf.label }}:
 			{% if password_reset_form.password_conf.field.required %}
 				<span class="alt-color">*</span>
 			{% endif %}
 		</label>
 			{{ password_reset_form.password_conf }}
 			{{ password_reset_form.password_conf.errors }}
 	</div>
     <div class="">
        <input type="submit" value="Reset Password" class=""></input>
    </div>
 </form>

{% endblock content %}

