{% extends "account/layout/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/codango-logo.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}
{% block body %}
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
<p>Reset your Codango password.</p>
<form method="POST" action="" class"">
    {% csrf_token %}
    {{ password_reset_form|bootstrap }}
    <div class="">
        <input type="submit" value="Reset Password" class=""></input>
    </div>
</form>
{% endblock body %}