{% extends "account/base.html" %}

{% block content %}


{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% else %}
	<p>Reset your Codango password</p>
{% endif %}
	
<form action="" method="post">
	{% csrf_token %}
	<label for="password"></label>
	<input type="passsword" name="password" id="password"/><br>
	<input type="passsword" name="password" id="password"/><br>
	<input type="submit" value="Reset Password"/>
</form>

{% endblock content %}

