{% extends "account/base.html" %}

{% block content %}

{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
{% else %}
	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
{% endif %}

<form action="" method="post">
	{% csrf_token %}
	<label for="email"></label>
	<input type="text" name="email" id="email"/>
	<input type="submit" value="Send Email"/>
</form>



{% endblock content %}