{% extends "account/layout/base.html" %}
{% load staticfiles %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/codango-logo.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block body %}

 <form method="POST" action="" class"">
 	{% csrf_token %}
 	{% if messages %}
 		<ul class="messages">
 			{% for message in messages %}
 				<li {% if message.tags %} class="{{message.tags}}" {% endif %} > {{message}} </li>
 			{% endfor %}
 		</ul>
 		<p>Reset your Codango password.</p>
 	{% endif %}
 	Create a new password below:
 	<div>
 		<label for="{{password_reset_form.password0.id_for_label}}">
 			{{ password_reset_form.password.label }}:
 			{% if password_reset_form.password.field.required %}
 				<span class="alt-color">*</span>
 			{% endif %}
 		</label>
 			{{ password_reset_form.password }}
 			{{ password_reset_form.password.errors }}
 	</div>
 	<div>
 		<label for="{{password_reset_form.password1.id_for_label}}">
 			{{ password_reset_form.password_conf.label }}:
 			{% if password_reset_form.password_conf.field.required %}
 				<span class="alt-color">*</span>
 			{% endif %}
 		</label>
 			{{ password_reset_form.password_conf }}
 			{{ password_reset_form.password_conf.errors }}
 	</div>
     <div class="">
        <input type="submit" value="Reset Password" class=""></input>
    </div>
 </form>

{% endblock body %}