{% extends "account/layout/base.html" %}
{% load staticfiles %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/codango-logo.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block body %}
	{% if email_status == 200 %}
		<p>The mail has been sent to you and you should be able to login after resetting you password</p>
	{% else %}
		<p>The mail was not sent successfully, please try again.</p>
	{% endif %}
{% endblock body %}