{% extends "account/base_home.html" %}

{% block title %}Home{% endblock title %}


{% block content %}
  <h1>Codango Home</h1>
  <p>Logged in successfully</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis cumque animi eligendi rem quia aspernatur! Quod minima eveniet magnam veniam, ex incidunt possimus facilis itaque, numquam tempore perferendis aspernatur, totam.</p>
{% endblock content %}
