{% extends "account/base.html" %}
{% load bootstrap %}


{% block content %}
<!--page content-->
<div class="row">
	<!--About Section-->
	<div class="col-md-8">
		<div class="jumbotron">
			<h1>Join Our Community</h1>
			<h3 class="section-text">Codango is a social networking site that connects all types of developers allowing for sharing resources, joining various communities and pair programming </h3>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>

	<!--tabbed-form-->
	<div class="col-md-4">
		<ul class="nav nav-tabs">
			<li class="active"><a id="tab_link2" data-toggle="tab" href="#login">Log In</a></li>
			<li><a id="tab_link" data-toggle="tab" href="#signup">Sign Up</a></li>
		</ul>
		<div class="tab-content">
			<!--Log in form-->
			<div id="login" class="tab-pane fade in active">
				<form role="form" action="/login" method="post">
					{% csrf_token %}
					{{ loginform|bootstrap }}
					<button type="submit" class="btn btn-primary">Log in</button>
				</form>
					<div class="row social-login">
				<div class="col-sm-6">
				<a href="#" class="btn btn-block btn-primary" id="facebook-login">Log In With Facebook</a>
				</div>
				<div class="col-sm-6 g-signin2" data-onsuccess="onSignIn">
				<a data-onsuccess="onSignIn" class="btn btn-block btn-danger g-signin2">Log In With Google +</a>
				</div>
				</div>
				{% csrf_token %}
				<p class="forgot-password-link">Forgot password. <a href="/recovery/">Reset</a></p>
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger" role="alert" id="flash-message">
							{{ message }}
						</div>
					{% endfor %}	
				{% endif %}
			</div>
			<!--Sign Up form-->
			<div id="signup" class="tab-pane fade">
				<form role="form" action="/register" method="post" id="signup-form">
					{% csrf_token %}
					{{ registerform|bootstrap }}
					<div class="form-group">
					  <button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
<script>
	 function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail());
}
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>