{% extends "account/base.html" %}
{% load bootstrap %}


{% block content %}
<!--page content-->
<div class="row">
	<!--About Section-->
	<div class="col-md-8">
		<div class="jumbotron">
			<h1>Join Our Community</h1>
			<h3 class="section-text">Codango is a social networking site that connects all types of developers allowing for sharing resources, joining various communities and pair programming </h3>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>

	<!--tabbed-form-->
	<div class="col-md-4">
		<ul class="nav nav-tabs">
			<li class="active"><a id="tab_link2" data-toggle="tab" href="#login">Log In</a></li>
			<li><a id="tab_link" data-toggle="tab" href="#signup">Sign Up</a></li>
		</ul>
		<div class="tab-content">
			<!--Log in form-->
			<div id="login" class="tab-pane fade in active">
				<form role="form" action="/login" method="post">
					{% csrf_token %}
					{{ loginform|bootstrap }}
					<button type="submit" class="btn btn-primary">Log in</button>
				</form>
					<div class="row social-login">
				<div class="col-sm-6">
				<a href="#" class="btn btn-block btn-primary" id="facebook-login">Log In With Facebook</a>
				</div>
				<div class="col-sm-6 g-signin2" data-onsuccess="onSignIn">
				<a onclick="login()" class="btn btn-block btn-danger g-signin2">Log In With Google +</a>
				</div>
				</div>
				{% csrf_token %}
				<p class="forgot-password-link">Forgot password. <a href="/recovery/">Reset</a></p>
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-danger" role="alert" id="flash-message">
							{{ message }}
						</div>
					{% endfor %}	
				{% endif %}
			</div>
			<!--Sign Up form-->
			<div id="signup" class="tab-pane fade">
				<form role="form" action="/register" method="post" id="signup-form">
					{% csrf_token %}
					{{ registerform|bootstrap }}
					<div class="form-group">
					  <button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
{% block scripts %}
  <script>
        var OAUTHURL    =   'https://accounts.google.com/o/oauth2/auth?';
        var VALIDURL    =   'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
        var SCOPE       =   'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
        var CLIENTID    =   '58714074667-55ulgv6a4mfe63t3u4qdil3dumo6cmvv.apps.googleusercontent.com';
        var REDIRECT    =   'http://localhost:8000'
        var LOGOUT      =   'http://accounts.google.com/Logout';
        var TYPE        =   'token';
        var _url        =   OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;
        var acToken;
        var tokenType;
        var expiresIn;
        var user;
        var loggedIn    =   false;

        function login() {
            var win         =   window.open(_url, "windowname1", 'width=800, height=600');
            var pollTimer   =   window.setInterval(function() {
                try {
                    console.log(win.document.URL);
                    if (win.document.URL.indexOf(REDIRECT) != -1) {
                        window.clearInterval(pollTimer);
                        var url =   win.document.URL;
                        acToken =   gup(url, 'access_token');
                        tokenType = gup(url, 'token_type');
                        expiresIn = gup(url, 'expires_in');
                        win.close();
                        validateToken(acToken);
                    }
                } catch(e) {
                }
            }, 500);
        }
        function validateToken(token) {
            $.ajax({
                url: VALIDURL + token,
                data: null,
                success: function(responseText){
                    getUserInfo();
                    loggedIn = true;
                    $('#loginText').hide();
                    $('#logoutText').show();
                },
                dataType: "jsonp"
            });
        }
        function getUserInfo() {
            $.ajax({
                url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
                data: null,
                success: socialLogin,
                dataType: "jsonp"
            });
        }
    function socialLogin(user) {
                    var ajaxinfo = {
                        url: "/login",
                        type: "POST",
                        data: user,
                        success: function(data) {
                            console.log(data);
                            if (data == "success") {
                                location.reload()
                            }
                            if (data == "register") {
                                $("#tab_link").trigger("click");
                                $("#signup-form").append("<input type='hidden' name='fb_id' value='" + user.id + "'>");
                                $("#id_email").val(user.email);
                            }
                        },
                        error: function(error) {
                            console.log(error.responseText);
                        }
                    }
                    $.ajax(ajaxinfo);
                }
        //credits: http://www.netlobo.com/url_query_string_javascript.html
        function gup(url, name) {
            name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
            var regexS = "[\\#&]"+name+"=([^&#]*)";
            var regex = new RegExp( regexS );
            var results = regex.exec( url );
            if( results == null )
                return "";
            else
                return results[1];
        }
    </script>
 {% endblock scripts %}