<h3>Communities</h3>
<div class="list-group">
	<a href="/home" class="list-group-item">All Feeds</a>
    <a href="/community/python" class="list-group-item">Python</a>
    <a href="/community/ruby" class="list-group-item">Ruby</a>
    <a href="/community/js" class="list-group-item">JS</a>
    <a href="/community/markup" class="list-group-item">HTML/CSS</a>
	<div  id="sidebar-more">
      <a href="/community/java" class="list-group-item">Java</a>
      <a href="/community/c" class="list-group-item">C</a>
      <a href="/community/php" class="list-group-item">PHP</a>
      <a href="/community/android" class="list-group-item">Android</a>
      <a href="/community/ios" class="list-group-item">IOS</a>
    </div>
    <div id="more" class="hidden-xs hidden-sm">
        <a role="button" data-toggle="collapse" href="#sidebar-collapse">
        <h5>...more...</h5>
        </a>
    </div>
</div>