{% extends "account/base-home.html" %}
{% load bootstrap %}
{% load cloudinary %}

{% block title %}{{ profile.user.username }}{% endblock title %}


{% block content %}
<div class="container-fluid">	
	<div class="row profile">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
					{{ message }}
				</div>
			{% endfor %}	
		{% endif %}
		<h1 id="h1">{{ profile.user.username }}</h1>
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					{% if profile.image %}
						 {% cloudinary profile.image width=100 height=150 crop="fill" %}
					{% else %}
						{% cloudinary "vqr7n59zfxyeybttleug.gif" width=100 height=150 crop="fill" %}
					{% endif %}
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
								{{ profile.user.username }} </a>
						</li>
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								{{ profile.position }} @ {{ profile.place_of_work }} </a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
								{{ profile.user.username }} </a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="glyphicon glyphicon-ok"></i>
								{{ profile.followers }} Followers </a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-flag"></i>
								{{ profile.following }} Following </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
			<div class="profile-content">
			</div>
		</div>
	</div>
</div>
{% endblock content %}
