{% extends "account/layout/base.html" %}
{% load staticfiles %}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'img/codango-logo.png' %}"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block body %}
<div class="container content">
    <div class="heading">
        <h1 class="page-title">Our Awesome Team</h1>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars1.githubusercontent.com/u/3100850?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-cnnadi"><h4>Chidiebere Nnadi</h4></a>
                        <span>Team Lead</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img src="https://avatars2.githubusercontent.com/u/13223950?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                        <a href="https://github.com/andela-ijubril"><h4>Issa Jubril</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                        <img src="https://avatars2.githubusercontent.com/u/13224175?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                        <a href="https://github.com/andela-ooshodi"><h4>Olufunmilade Oshodi</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars2.githubusercontent.com/u/15088852?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-ashuaib"><h4>Abiodun Shuaib</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars3.githubusercontent.com/u/13269579?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-jngatia"><h4>Joan Ngatia</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars2.githubusercontent.com/u/15629602?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-sndagi"><h4>Stanley Ndagi</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars2.githubusercontent.com/u/12407721?v=3&s=400" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-mochieng"><h4>Margaret Ochieng</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars0.githubusercontent.com/u/18328313?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-snwuguru"><h4>Nwuguru Sunday</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars3.githubusercontent.com/u/17270426?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-aabdulwahab"><h4>Abdulmalik Abdulwahab</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars2.githubusercontent.com/u/17288133?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-akiura"><h4>Alex Kiura</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars1.githubusercontent.com/u/18309948?v=3&s=460" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/andela-hoyeboade"><h4>Hassan Oyeboade</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-members">
                    <div class="team-avatar">
                       <img src="https://avatars2.githubusercontent.com/u/13224913?v=3&s=400" class="img-responsive"/>
                    </div>
                    <div class="team-desc">
                         <a href="https://github.com/IniOluwa"><h4>Ini-Oluwa C. Fageyinbo</h4></a>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="team-members">
                  <div class="team-avatar">
                     <img src="https://avatars1.githubusercontent.com/u/9017229?v=3&s=460" class="img-responsive"/>
                  </div>
                  <div class="team-desc">
                       <a href="https://github.com/Achile"><h4>Achile Egbunu</h4></a>
                      <span>Developer</span>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock body %}
