/* body styling */
body {
	background: #e9eaed;
	background-size: cover;
	height: 100%;
	font-family: "Lato", Arial, sans-serif;
	padding-bottom: 20px;
}

/* navbar styling */
.navbar-default {
	background: #fff;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
}

.navbar {
	margin-bottom: 0;
    border-radius: 0px;
    min-height: 70px;
}

.navbar-brand {
	height: 70px;
	line-height: 40px;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

.navbar-nav {
	height: auto;
}

.navbar-nav > li > a {
    position: relative;
    padding: 0px 15px;
    height: 70px;
	line-height: 70px;
}

.navbar-default .navbar-nav > li.active > a {
	background-color: transparent;
	border-bottom: solid 4px #f26521;
	color: #f26521;
}

.navbar-default .navbar-nav > li > a i {
	margin-right: 10px;
}

.notification-icon {
	font-size: 1.3em;
}
/* end of navbar styling */

/* sidebar styling */
.sidebar {
	position: fixed;
	width: 262px;
	padding: 25px 20px;
}

#sidebar-mobile-link {
	z-index:999;
	position: fixed;
	top: 50%;
	bottom: 50%;
	left: 0px;
	height: 40px;
    font-size: 20px;
	background-color: #f26521;
}

#sidebar-mobile {
	z-index:1000;
	position: fixed;
	top: 0;
	left: -200px;
	height: 100%;
	width: 200px;
    padding: 100px 10px;
	background-color: #ffffff;
	overflow-y:auto;
}
/* end of sidebar styling */

/* content styling */
.content-col {
	margin: 0px;
	overflow: hidden;
}

.main {
	margin-top: 100px;
}

.content-block {
	background: #fff;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
	padding: 25px 35px;
}

.section-header {
	color: #bec1c9;
	border-bottom: solid 1px #dedede;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-size: 0.9em;
	padding-bottom: 10px;
}

#editor {
	width: 300px;
	height: 400px;
	position: relative !important;
    border: 1px solid lightgray;
    margin: auto;
    height: 200px;
    width: 100%;
}

.form-buttons{
	margin-bottom: 5px;
}
.activity-feed {
	margin-top: 30px;
	margin-bottom: 30px;
}

.activity-feed i {
	margin-right: 10px;
}

.list-inline {
	margin-left: 10px;
}

.list-inline li {
	margin-right: 5px;
}

.list-group-item:last-child {
    margin-bottom: 50px;
}

.endless_loading {
	text-align: center;
}

#more {
	margin-left: 40%;
	margin-bottom: 40px;
}

#more a:hover {
	text-decoration: none;
}

.resource-selector button .mdi {
	margin-right: 5px;
}

.feed {
	position: relative;
	margin-bottom: 50px;
	min-height: 64px;
}

.feed:last-child {
	margin-bottom: 200px;
}

.feed .profile-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 64px;
	height: 64px;
	background-color: #ccc;
}

.feed .profile-img img {
	border-radius: 4px;
}

.feed-content {
	padding-left: 84px;
}

.feed-content .poster-details {
	margin: 0;
}

.feed-content .poster-details a {
	font-weight: 700;
}

.feed-content .poster-details small {
	color: #999;
}

.feed-content h1 {
	font-size: 1.8em;
	font-weight: 300;
	line-height: 1.3em;
	margin-top: 10px;
	margin-bottom: 15px;
}

.codango-badge {
	padding:4px 10px;
	font-size: 0.8em;
	font-weight: 700;
	display: inline-block;
	background: #c2c8da;
	border-radius: 4px;
	color: #565c6f;
}

#item {
	margin: 0px 10px;
}

.spacer {
	margin-top: 2.0em;
}

.profile-img-lg {
	border-radius: 4px;
}

.profile-page-feed {
	margin-top: 20px;
}

.stats {
	color: #006699;
	font-weight: 300;
	font-size: 3.0em;
	margin-bottom: 5px;
	margin-top: 0;
}

/* Utilities */

button.btn {
	border-radius: 6px;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
	transition: all .3s;
}

.right-spacer {
	margin-right: 5px;
}

textarea {
	margin: 10px 0px;
	border-radius: 0 !important;
	resize: none;
}

#community .list-group-item {
	border: none;
}

#community .list-group-item i {
	margin-right: 10px;
}

#community .list-group-item:hover {
	background: #006699;
	color: #fff;
}

.tag-dropdown {
	margin-left: 0px;
}

#id-snippet-body, #id-pdf-file {
	margin: 5px 0px;
}

#id-pdf-file {
	height: 100%;
}

#preloader {
	display: none;
	text-align: center;
}

#file-icon-pdf {
	font-size: 40px;
	color: #ff0000;
}

#file-icon-doc {
	font-size: 40px;
	color: #0000ff;
}

#file-icon {
	margin-bottom: 0px;
	display: inline-block;
}

#file-info {
	display: inline-block;
}

#edit-profile {
	display: none;
	color: #f26521;
	font-size: 25px;
}

#profile-name:hover #edit-profile {
	display: inline-block;
	transistion: all 0.3s ease;
}

@media (max-width: 768px) {
	#edit-profile {
		visibility: visible;
	}
	.col-sm-3.col-xs-12 .col-xs-8 h2.text-center, .col-sm-3.col-xs-12 .col-xs-8 p.text-center  {
		text-align:  left;
	}
}
/* end of content styling */

/* index page styling */
.jumbotron {
	padding-left: 5%;
	padding-right: 5%;
	background-color: #e9eaed;
}

.section-text {
	margin-bottom: 30px;
	font-weight: 300;
	line-height: 1.4em;
}

.forgot-password-link {
	margin-top: 15px;
}

/* tab styling */
.tab-content {
	padding:15px;
	margin-top: 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #e9eaed;
}
#tab_link, #tab_link2 {
	color: #000000;
}

.social-login {
	margin-top: 20px;
}

.social-login div {
	padding: 10px;
}

/* end index page styling */

/* google code-prettify */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { 
	list-style-type: decimal !important
	}
/* end of google code-prettify */