<a href="#"><i class="notification-icon mdi mdi-bell"><span class="unread-notificaitons">{{unread|length}}</span></i></a>
<br>
<div id="notifications">
<span class="glyphicon glyphicon-triangle-top notification-icon"></span>
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Notifications</div>
        <!-- List group -->
        <div class="list-group">
            {% for notification in activities|slice:"10" %}
            <a href="{{notification.link}}" class="list-group-item {% if notification.read %} read {% endif %}" data-id="{{notification.id}}" data-url="{% url 'user_activity' %}">{{notification}}
                              <small><br>about {{ notification.date_created | timesince }} ago</small>
                              </a> {% empty %}
            <a href="#" class="list-group-item disabled">
                                You have no recent notifications
                              </a> {% endfor %}
        </div>
    </div>
</div>
