{% load cloudinary %}

<div class="content-block">

    <div class="panel panel-default">
        <div class="panel-heading" id="followers-heading">
            <span class="title">Followers</span>
        </div>
        <div class="row" id="followers-detail">
            {% for follower in followers %}
                <div class="col-sm-3 text-center">
                    {% if follower.follower_id.profile.image %}
                        {% cloudinary follower.follower_id.profile.image width=150 height=150 class="img-responsive" crop="fill" %}
                        <span><a href="/user/{{ follower.follower_id }}"
                                 id="follower-name"> {{ follower.follower_id }}</a></span><br/>
                        <div class="clearfix"></div>
                        </div>
                    {% else %}
                        {% cloudinary "vqr7n59zfxyeybttleug.gif" width=100 height=150 crop="fill" %}
                    {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

</div>

