{% load cloudinary %}
<div class="content-block">
    <div class="panel-heading" id="followers-heading">
        <div class="page-title">{{direction|title}}</div>
         <div class="row" id="followers-detail">
        {% for following in follow_list %}
       
            <div class="col-sm-4 text-center">
                {% if following.followed.profile.image %} 
                {% cloudinary following.profile.image width=150 height=150 class="img-responsive" crop="fill" %} 
                {% else %} 
                {% cloudinary "vqr7n59zfxyeybttleug.gif" width=150 height=150 crop="fill" %} 
                {% endif %}
                <br/>
                <span>
                    <a href="/user/{{ following }}" id="follower-name">{{ following }}</a>
                </span>
            </div>
   
        {% empty %} 
        {{ no_follow }} 
        {% endfor %}
             </div>
    </div>
</div>
